{% extends "baselayout.html"%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Graduation</td>
                            <td><p><b>Information about the event.</b></p>        
                                <p>Keziah Musomi's graduation. If available, we would love you to be there. Kindly confirm.</p>                    
                            </td>
                            <td>
                                <p><b> Number attending</b>&nbsp;<span class="badge">21</span></p> 
                                <p><b> Location:</b>&nbsp; 525, Kindaruma Road.</p>
                            </td>
                            <td><button class="btn btn-success btn-labeled pull-right">RSVP (Attendance)</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>           
    </div>
</div>

{% endblock %}